* {
    margin: 0%;
    padding: 0%;
}
table { width: 100%;
    height: 100vh;
   

}
td { width: 6%;}

#linhaum { height: 75px;}

.barrasuperior {
    background-color: #532D63;
}

.fundo
{
    
}


    

